.nav {
    display: flex;
    text-align: center;
    justify-content: space-around;
}


.links {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.nav .links {
    margin: 1em;
    font-weight: 500;
    font-size: 1.5em;
}